/* === Font Import == */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* === Weather Component === */

.weather-component > :is(*, *::after, *::before, ) {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather-component {
  color: white;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  padding: 2rem;
  background-size: auto;
  width: max-content;
  border-radius: 2rem;
  user-select: none;
  cursor: pointer;
}

.w-top-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10rem;
}

.w-current {
  display: flex;
}

.w-current .w-icon {
  align-self: self-start; /* Dont stretch icon */
  /* transform: translateY(-0.5em); */
  display: block;
  margin: 0.2rem;
}

.w-current .w-degrees {
  font-size: 1.5em;
}

.w-degrees::after {
  content: "°C";
  font-size: 0.6em;
  position: absolute;
}

.w-degrees:empty:after {
  content: "";
}

.w-details {
  font-size: 0.75em;
}

.w-forecast {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.w-f-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.w-location {
  text-align: right;
  font-size: 0.8em;
}

.w-copyright {
  font-weight: 400;
  font-size: 0.5em;
  opacity: 0.2;
}

.w-copyright a {
  text-decoration: inherit;
  color: inherit;
}

/* === Weather Component Mini Version === */

.weather-component.mini
  :where(.w-details, .w-description, .w-forecast, .w-location) {
  display: none;
}

.weather-component.mini {
  padding: 1rem;
}

.weather-component.mini .w-copyright {
  visibility: hidden;
  position: relative;
  font-size: 0;
}

.weather-component.mini .w-copyright::after {
  content: "WeatherAPI";
  visibility: visible;
  position: static;
  left: 0;
  font-size: 0.5rem;
}

.weather-component.mini .w-degrees::after {
  content: "°C";
  font-size: 1em;
  position: static;
}

.weather-component.mini .w-degrees:empty:after {
  content: "";
}

.weather-component.mini .w-c-text {
  display: flex;
  align-items: center;
}

/* Backgrounds */

.weather-component[data-bg="Sunny"] {
  background-image: url("/imgs/weather/Sunny.jpg");
}

.weather-component[data-bg="Clear"] {
  background-image: url("/imgs/weather/Clear.jpg");
}

.weather-component[data-bg="Partly cloudy"] {
  background-image: url("/imgs/weather/Partly_cloudy.jpg");
}

.weather-component[data-bg="Partly cloudy"] {
  background-image: url("/imgs/weather/Partly_cloudy.jpg");
}

.weather-component[data-bg="Cloudy"] {
  background-image: url("/imgs/weather/Cloudy.jpg");
}

.weather-component[data-bg="Cloudy"] {
  background-image: url("/imgs/weather/Cloudy.jpg");
}

.weather-component[data-bg="Overcast"] {
  background-image: url("/imgs/weather/Overcast.jpg");
}

.weather-component[data-bg="Overcast"] {
  background-image: url("/imgs/weather/Overcast.jpg");
}

.weather-component[data-bg="Mist"] {
  background-image: url("/imgs/weather/Mist.jpg");
}

.weather-component[data-bg="Mist"] {
  background-image: url("/imgs/weather/Mist.jpg");
}

.weather-component[data-bg="Patchy rain possible"] {
  background-image: url("/imgs/weather/Patchy_rain_possible.jpg");
}

.weather-component[data-bg="Patchy rain possible"] {
  background-image: url("/imgs/weather/Patchy_rain_possible.jpg");
}

.weather-component[data-bg="Patchy snow possible"] {
  background-image: url("/imgs/weather/Patchy_snow_possible.jpg");
}

.weather-component[data-bg="Patchy snow possible"] {
  background-image: url("/imgs/weather/Patchy_snow_possible.jpg");
}

.weather-component[data-bg="Patchy sleet possible"] {
  background-image: url("/imgs/weather/Patchy_sleet_possible.jpg");
}

.weather-component[data-bg="Patchy sleet possible"] {
  background-image: url("/imgs/weather/Patchy_sleet_possible.jpg");
}

.weather-component[data-bg="Patchy freezing drizzle possible"] {
  background-image: url("/imgs/weather/Patchy_freezing_drizzle_possible.jpg");
}

.weather-component[data-bg="Patchy freezing drizzle possible"] {
  background-image: url("/imgs/weather/Patchy_freezing_drizzle_possible.jpg");
}

.weather-component[data-bg="Thundery outbreaks possible"] {
  background-image: url("/imgs/weather/Thundery_outbreaks_possible.jpg");
}

.weather-component[data-bg="Thundery outbreaks possible"] {
  background-image: url("/imgs/weather/Thundery_outbreaks_possible.jpg");
}

.weather-component[data-bg="Blowing snow"] {
  background-image: url("/imgs/weather/Blowing_snow.jpg");
}

.weather-component[data-bg="Blowing snow"] {
  background-image: url("/imgs/weather/Blowing_snow.jpg");
}

.weather-component[data-bg="Blizzard"] {
  background-image: url("/imgs/weather/Blizzard.jpg");
}

.weather-component[data-bg="Blizzard"] {
  background-image: url("/imgs/weather/Blizzard.jpg");
}

.weather-component[data-bg="Fog"] {
  background-image: url("/imgs/weather/Fog.jpg");
}

.weather-component[data-bg="Fog"] {
  background-image: url("/imgs/weather/Fog.jpg");
}

.weather-component[data-bg="Freezing fog"] {
  background-image: url("/imgs/weather/Freezing_fog.jpg");
}

.weather-component[data-bg="Freezing fog"] {
  background-image: url("/imgs/weather/Freezing_fog.jpg");
}

.weather-component[data-bg="Patchy light drizzle"] {
  background-image: url("/imgs/weather/Patchy_light_drizzle.jpg");
}

.weather-component[data-bg="Patchy light drizzle"] {
  background-image: url("/imgs/weather/Patchy_light_drizzle.jpg");
}

.weather-component[data-bg="Light drizzle"] {
  background-image: url("/imgs/weather/Light_drizzle.jpg");
}

.weather-component[data-bg="Light drizzle"] {
  background-image: url("/imgs/weather/Light_drizzle.jpg");
}

.weather-component[data-bg="Freezing drizzle"] {
  background-image: url("/imgs/weather/Freezing_drizzle.jpg");
}

.weather-component[data-bg="Freezing drizzle"] {
  background-image: url("/imgs/weather/Freezing_drizzle.jpg");
}

.weather-component[data-bg="Heavy freezing drizzle"] {
  background-image: url("/imgs/weather/Heavy_freezing_drizzle.jpg");
}

.weather-component[data-bg="Heavy freezing drizzle"] {
  background-image: url("/imgs/weather/Heavy_freezing_drizzle.jpg");
}

.weather-component[data-bg="Patchy light rain"] {
  background-image: url("/imgs/weather/Patchy_light_rain.jpg");
}

.weather-component[data-bg="Patchy light rain"] {
  background-image: url("/imgs/weather/Patchy_light_rain.jpg");
}

.weather-component[data-bg="Light rain"] {
  background-image: url("/imgs/weather/Light_rain.jpg");
}

.weather-component[data-bg="Light rain"] {
  background-image: url("/imgs/weather/Light_rain.jpg");
}

.weather-component[data-bg="Moderate rain at times"] {
  background-image: url("/imgs/weather/Moderate_rain_at_times.jpg");
}

.weather-component[data-bg="Moderate rain at times"] {
  background-image: url("/imgs/weather/Moderate_rain_at_times.jpg");
}

.weather-component[data-bg="Moderate rain"] {
  background-image: url("/imgs/weather/Moderate_rain.jpg");
}

.weather-component[data-bg="Moderate rain"] {
  background-image: url("/imgs/weather/Moderate_rain.jpg");
}

.weather-component[data-bg="Heavy rain at times"] {
  background-image: url("/imgs/weather/Heavy_rain_at_times.jpg");
}

.weather-component[data-bg="Heavy rain at times"] {
  background-image: url("/imgs/weather/Heavy_rain_at_times.jpg");
}

.weather-component[data-bg="Heavy rain"] {
  background-image: url("/imgs/weather/Heavy_rain.jpg");
}

.weather-component[data-bg="Heavy rain"] {
  background-image: url("/imgs/weather/Heavy_rain.jpg");
}

.weather-component[data-bg="Light freezing rain"] {
  background-image: url("/imgs/weather/Light_freezing_rain.jpg");
}

.weather-component[data-bg="Light freezing rain"] {
  background-image: url("/imgs/weather/Light_freezing_rain.jpg");
}

.weather-component[data-bg="Moderate or heavy freezing rain"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_freezing_rain.jpg");
}

.weather-component[data-bg="Moderate or heavy freezing rain"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_freezing_rain.jpg");
}

.weather-component[data-bg="Light sleet"] {
  background-image: url("/imgs/weather/Light_sleet.jpg");
}

.weather-component[data-bg="Light sleet"] {
  background-image: url("/imgs/weather/Light_sleet.jpg");
}

.weather-component[data-bg="Moderate or heavy sleet"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_sleet.jpg");
}

.weather-component[data-bg="Moderate or heavy sleet"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_sleet.jpg");
}

.weather-component[data-bg="Patchy light snow"] {
  background-image: url("/imgs/weather/Patchy_light_snow.jpg");
}

.weather-component[data-bg="Patchy light snow"] {
  background-image: url("/imgs/weather/Patchy_light_snow.jpg");
}

.weather-component[data-bg="Light snow"] {
  background-image: url("/imgs/weather/Light_snow.jpg");
}

.weather-component[data-bg="Light snow"] {
  background-image: url("/imgs/weather/Light_snow.jpg");
}

.weather-component[data-bg="Patchy moderate snow"] {
  background-image: url("/imgs/weather/Patchy_moderate_snow.jpg");
}

.weather-component[data-bg="Patchy moderate snow"] {
  background-image: url("/imgs/weather/Patchy_moderate_snow.jpg");
}

.weather-component[data-bg="Moderate snow"] {
  background-image: url("/imgs/weather/Moderate_snow.jpg");
}

.weather-component[data-bg="Moderate snow"] {
  background-image: url("/imgs/weather/Moderate_snow.jpg");
}

.weather-component[data-bg="Patchy heavy snow"] {
  background-image: url("/imgs/weather/Patchy_heavy_snow.jpg");
}

.weather-component[data-bg="Patchy heavy snow"] {
  background-image: url("/imgs/weather/Patchy_heavy_snow.jpg");
}

.weather-component[data-bg="Heavy snow"] {
  background-image: url("/imgs/weather/Heavy_snow.jpg");
}

.weather-component[data-bg="Heavy snow"] {
  background-image: url("/imgs/weather/Heavy_snow.jpg");
}

.weather-component[data-bg="Ice pellets"] {
  background-image: url("/imgs/weather/Ice_pellets.jpg");
}

.weather-component[data-bg="Ice pellets"] {
  background-image: url("/imgs/weather/Ice_pellets.jpg");
}

.weather-component[data-bg="Light rain shower"] {
  background-image: url("/imgs/weather/Light_rain_shower.jpg");
}

.weather-component[data-bg="Light rain shower"] {
  background-image: url("/imgs/weather/Light_rain_shower.jpg");
}

.weather-component[data-bg="Moderate or heavy rain shower"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_rain_shower.jpg");
}

.weather-component[data-bg="Moderate or heavy rain shower"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_rain_shower.jpg");
}

.weather-component[data-bg="Torrential rain shower"] {
  background-image: url("/imgs/weather/Torrential_rain_shower.jpg");
}

.weather-component[data-bg="Torrential rain shower"] {
  background-image: url("/imgs/weather/Torrential_rain_shower.jpg");
}

.weather-component[data-bg="Light sleet showers"] {
  background-image: url("/imgs/weather/Light_sleet_showers.jpg");
}

.weather-component[data-bg="Light sleet showers"] {
  background-image: url("/imgs/weather/Light_sleet_showers.jpg");
}

.weather-component[data-bg="Moderate or heavy sleet showers"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_sleet_showers.jpg");
}

.weather-component[data-bg="Moderate or heavy sleet showers"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_sleet_showers.jpg");
}

.weather-component[data-bg="Light snow showers"] {
  background-image: url("/imgs/weather/Light_snow_showers.jpg");
}

.weather-component[data-bg="Light snow showers"] {
  background-image: url("/imgs/weather/Light_snow_showers.jpg");
}

.weather-component[data-bg="Moderate or heavy snow showers"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_snow_showers.jpg");
}

.weather-component[data-bg="Moderate or heavy snow showers"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_snow_showers.jpg");
}

.weather-component[data-bg="Light showers of ice pellets"] {
  background-image: url("/imgs/weather/Light_showers_of_ice_pellets.jpg");
}

.weather-component[data-bg="Light showers of ice pellets"] {
  background-image: url("/imgs/weather/Light_showers_of_ice_pellets.jpg");
}

.weather-component[data-bg="Moderate or heavy showers of ice pellets"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_showers_of_ice_pellets.jpg");
}

.weather-component[data-bg="Moderate or heavy showers of ice pellets"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_showers_of_ice_pellets.jpg");
}

.weather-component[data-bg="Patchy light rain with thunder"] {
  background-image: url("/imgs/weather/Patchy_light_rain_with_thunder.jpg");
}

.weather-component[data-bg="Patchy light rain with thunder"] {
  background-image: url("/imgs/weather/Patchy_light_rain_with_thunder.jpg");
}

.weather-component[data-bg="Moderate or heavy rain with thunder"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_rain_with_thunder.jpg");
}

.weather-component[data-bg="Moderate or heavy rain with thunder"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_rain_with_thunder.jpg");
}

.weather-component[data-bg="Patchy light snow with thunder"] {
  background-image: url("/imgs/weather/Patchy_light_snow_with_thunder.jpg");
}

.weather-component[data-bg="Patchy light snow with thunder"] {
  background-image: url("/imgs/weather/Patchy_light_snow_with_thunder.jpg");
}

.weather-component[data-bg="Moderate or heavy snow with thunder"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_snow_with_thunder.jpg");
}

.weather-component[data-bg="Moderate or heavy snow with thunder"] {
  background-image: url("/imgs/weather/Moderate_or_heavy_snow_with_thunder.jpg");
}
